footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours Logo')
    ul.footer__nav
        li: a(href='#') Sobre nós
        li: a(href='#') Baixar apps
        li: a(href='#') Se torne um guia
        li: a(href='#') Carreiras
        li: a(href='#') Contato
    p.footer__copyright &copy; by Murilo Sanches.