extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Entrar na sua conta
            form.form.form--login
                .form__group
                    label.form__label(for='email') Endereço de Email
                    input#email.form__input(type='email', placeholder='exemplo@exemplo.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Senha
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Login